.password-input {
  padding: .25rem 5rem .25rem 1rem;
  border-radius: 1rem;

  &+.password-input__eye {
    position: relative;
    top: 0;
    right: 2.5em;
    height: var(--standard-button-size);
    background: transparent;
    border: none;
    font-size: var(--standard-font-size);
    padding: 0;
    cursor: pointer;

    >i {
      height: 100%;
      width: 100%;
      color: var(--color-black-50);
      background: transparent;

      &::before {
        background: transparent;
      }
    }

    &:hover {
      >i {
        color: var(--color-blue-250);
        font-size: 110%;
      }
    }

    &:active {
      >i {
        color: var(--color-white-180);
        font-size: 110%;
      }
    }
  }
}