@import '../../global.scss';

.list-component {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: $button-font-size + 10px auto;
    grid-template-areas:
        "header"
        "content"
}

.list-controls {
    grid-area: header;
    height: $button-font-size + 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.artist-list-container {
    grid-area: content;
    @include scrollListContainer;
}