@import '../global.scss';

.modal {
    --modal-header-height: calc(var(--standard-font-size + 1rem));
    --modal-footer-height: calc(var(--button-font-size + 1rem));
    --close-button-size: var(--standard-font-size);

    position: relative;
    top: calc(50vh - 300px);
    left: calc(50vw - 500px);
    height: 600px;
    width: 1000px;

    padding: 0 0 10px 0;
    border-radius: 10px;

    font-size: var(--standard-font-size);
    background-color: white;

    isolation: isolate;

    .header {
        width: 100%;
        height: var(--modal-header-height);
        line-height: var(--modal-header-height);
        background: var(--header-background-color);
        color: var(--header_color);
        border-radius: 10px 10px 0 0;

        padding: 0 10px;
        margin: 0;

        .title {
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        .close {
            position: absolute;
            top: calc(var(--modal-header-height) / 2 - var(--close-button-size) / 2);
            right: calc(var(--close-button-size) / 2);
            height: var(--close-button-size);
            width: var(--close-button-size);
            padding: 0;
            margin: 0;
            border-width: 0;
            text-align: center;
            font-size: var(--close-button-size);
            line-height: var(--close-button-size);
            cursor: pointer;
        }
    }

    .modal-content,
    .modal-form,
    .form-content {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    .modal-form {
        height: 100%;
    }

    .modal-content {
        height: calc(100% - var(--modal-header-height));
        width: 100%;
        padding: 10px;
    }

    .form-content {
        height: calc(100% - var(--modal-footer-height));

        display: grid;
        grid-template-columns: 100%;
        grid-auto-rows: 1.5em;
        gap: .5rem;
    }

    .controls {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: var(--modal-footer-height);
        width: 100%;
        margin-top: 10px;
    }
}