@use '@styles/mixins.scss';

.dialog-layout {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;

  @include mixins.form-container;
  padding: 0;

  // &[open] {
  //   display: grid;
  // }

  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: .5rem;
    background-color: var(--color-cyan-255);
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    line-height: 1;

    & > h3 {
      margin: 0;
    }
  }

  &__content {
    display: grid;
    grid-auto-flow: row;
    gap: 0.5rem;
    padding: 1rem;
  }
}
