@import '../../global.scss';

.login-status {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bar-parts-background-color);
    width: 145px;
    margin-left: 5px;
    flex-grow: 0;
}