@import '../global.scss';

.header-bar {
    display: flex;
    justify-content: space-between;

    .title {
        background-color: var(--header-bar-parts-background-color);
        width: 100%;
        flex-grow: 2;
        font-size: clamp(20px, 50px, 50px);
        line-height: clamp(20px, 50px, 50px);
        text-align: center;
    }
}