@use '../../../global.scss';

.header-layout {
  height: 100%;
  width: 100%;
  overflow: hidden;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  gap: .5rem;

  background: transparent;

  &__title {
    background-color: transparent;
    padding: .25rem .5rem;
    height: fit-content;
    width: fit-content;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    padding: 0;
  }
}