body,
div,
input {
    box-sizing: border-box;
}

.btn {
    background-color: rgb(32, 32, 32);
    color: white;
    height: 25px;
    line-height: 25px;
}

.login-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
}

.label {
    height: 30px;
    line-height: 30px;
    width: 100px;
    overflow: hidden;
}

.input {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;

    input {
        position: relative;
        top: 3px;
        width: calc(100% - 20px);
        padding: 5px;
        border: 1px solid black;
    }

    .toggle {
        width: 50px;
        position: absolute;
        top: 4px;
        right: 10px;
    }
}

.login-form {
    width: 600px;
    height: 400px;
    position: relative;
    top: calc(50vh - 200px);
    left: calc(50vw - 300px);
    background: white;
    padding-top: 60px;

    .info>div {
        width: 400px;
        display: grid;
        grid-template-columns: 100px 300px;
    }

    .info,
    .controls {
        position: relative;
        left: 100px;
        width: 400px;
        margin-top: 20px;
    }

    .controls {
        display: flex;
        justify-content: space-between;
    }

}

// Crossed out eye "\f070"; "\01F441";
// Eye "\f06e";