@use 'global.scss';

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background: var(--color-peach-255);
  color: var(--color-black-50);
  padding: 0;
  border: .5rem var(--color-black) inset;
  border-radius: 1rem;
}
