$header-background-color: rgba(94, 72, 69, 1);
$header-color: rgba(250, 250, 250, 1);
$header-bar-parts-background-color: rgba(125, 93, 91, 1);

$messaging-background-color: rgba(125, 93, 91, 1);
$messaging-color: rgba(250, 250, 250, 1);

$navigation-background-color: rgba(151, 152, 187, 1);
$navigation-color: black;

$sidebar-background-color: $navigation-background-color;
$sidebar-color: $navigation-color;

$standard-font-size: 20px;
$button-font-size: $standard-font-size + 10px;

body,
div,
input {
    box-sizing: border-box;
    font-size: $standard-font-size;
    line-height: $standard-font-size;
}    

input[type="submit"],
input[type="button"],
.btn {
    text-align: center;
    padding: 0 10px;
    background-color: rgb(32, 32, 32);
    color: white;
    height: $button-font-size;
    line-height: $button-font-size - 5px; // Subtract 5px to account for the padding
    cursor: pointer;
    border-radius: calc($button-font-size / 2);
    
    &:hover {
        background-color: rgb(80, 75, 227);
    }    

    &:active {
        background-color: rgb(128, 128, 128);
        border-style: inset;
        border-color: black;
    }    

    &:disabled,
    &.disabled {
        background-color: rgb(128, 128, 128);
        pointer-events: none;
        cursor: auto;
    }    
}    

label,
.label {
    height: $standard-font-size;
    line-height: $standard-font-size;
    width: 100px;
    overflow: hidden;
}    

input
.input {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $standard-font-size;
}

// Parent element must have height specificed.  100% should work.
@mixin scrollListContainer($overflow-x: hidden) {
    height: 100%;
    overflow-y: auto;
    overflow-x: $overflow-x;
    
    > * {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

@mixin ellipsisText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-component {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: $button-font-size + 10px auto;
    grid-template-areas:
        "header"
        "content"
}

.list-controls {
    grid-area: header;
    height: $button-font-size + 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .title {
        font-size: $standard-font-size * 2;
        font-weight: bold;
    }
}

.list-container {
    grid-area: content;
    @include scrollListContainer;
}

.picker-list,
.card-list {
    background: linear-gradient(160deg, rgb(64, 64, 60), rgb(64, 60, 64), rgb(60, 64, 64));
    list-style: none;
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    align-content: flex-start;

    &:empty:after {
        position: relative;
        top: 5em;
        left: calc(50% - 6ch);
        font-size: $standard-font-size * 2;
        content: 'No items found';
    }
}

.picker-component {
    position: absolute;
    right: 0;
    height: 15em;
    width: 10em;
    padding: 0;
    margin: 0;
    z-index: 1;

    .list-container {
        width: 10em;
        padding: 0;
        margin: 0;
    }
}

.picker-list {
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100%;
}

.picker-item {
    background-color: $messaging-background-color;
    color: $messaging-color;
    @include ellipsisText;
    font-size: $standard-font-size;
    line-height: $standard-font-size;
    padding: 0.5em 1em;
}

$card-background: linear-gradient(rgb(250, 180, 160), rgb(160, 180, 250));
.card {
    background: $card-background;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0);
    font-size: $standard-font-size;
    line-height: $standard-font-size;
    // width: 15em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: .5em;
    padding: 0;
    // flex-grow: 0;
    // flex-shrink: 1;
    flex-basis: fit-content;

    .header {
        border-bottom: thin black solid;
        background-color: $header-background-color;
        color: $header-color;
    }
    .name {
        padding: 0 1em;
        border: thin black solid;
        background-color: $sidebar-background-color;
        color: $sidebar-color;
    }

    .details {
        margin: 1em 0;
        padding: 0 1em;

        display: grid;
        grid-template-columns: minmax(5em, 10em) auto;
        width: fit-content;

        .label, .text, .long-text {
            margin: .5em .5em 0 0;
        }

        .long-text {
            @include scrollListContainer(auto);
            min-width: 25ch;
            max-width: 100ch;
            min-height: 5ch;
            max-height: 25ch;
        }

        .label {
            background-color: rgba(0, 0, 0, 0.1);
            text-align: left;
        }

        .text, .long-text {
            &:empty {
                background: linear-gradient(160deg, rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
            }
        }
    }
}