$header-background-color: rgba(94, 72, 69, 1);
$header_color: rgba(250, 250, 250, 1);
$messaging-background-color: rgba(125, 93, 91, 1);
$messaging-color: rgba(250, 250, 250, 1);
$navigation-background-color: rgba(151, 152, 187, 1);
$navigation-color: black;
$sidebar-background-color: $navigation-background-color;
$sidebar-color: $navigation-color;