$header-background-color: rgba(94, 72, 69, 1);
$header_color: rgba(250, 250, 250, 1);
$header-bar-parts-background-color: rgba(125, 93, 91, 1);

$messaging-background-color: rgba(125, 93, 91, 1);
$messaging-color: rgba(250, 250, 250, 1);

$navigation-background-color: rgba(151, 152, 187, 1);
$navigation-color: black;

$sidebar-background-color: $navigation-background-color;
$sidebar-color: $navigation-color;


$standard-font-size: 20px;
$button-font-size: $standard-font-size + 10px;

body,
div,
input {
    box-sizing: border-box;
    font-size: $standard-font-size;
    line-height: $standard-font-size;
}    

// input {
//     position: relative;
//     top: 3px;
//     width: calc(100% - 20px);
//     padding: 5px;
//     border: 1px solid black;
// }

input[type="submit"],
input[type="button"],
.btn {
    text-align: center;
    padding: 0 10px;
    background-color: rgb(32, 32, 32);
    color: white;
    height: $button-font-size;
    line-height: $button-font-size - 5px; // Subtract 5px to account for the padding
    cursor: pointer;
    border-radius: $button-font-size / 2;
    
    &:hover {
        background-color: rgb(80, 75, 227);
    }    

    &:active {
        background-color: rgb(128, 128, 128);
        border-style: inset;
        border-color: black;
    }    

    &.disabled {
        background-color: rgb(128, 128, 128);
        pointer-events: none;
        cursor: auto;
    }    
}    

label,
.label {
    height: $standard-font-size;
    line-height: $standard-font-size;
    width: 100px;
    overflow: hidden;
}    

input
.input {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $standard-font-size;
}

// Parent element must have height specificed.  100% should work.
@mixin scrollListContainer {
    height: 100%;
    overflow-y: scroll;
}

.card-list {
    background: linear-gradient(160deg, rgb(64, 64, 60), rgb(64, 60, 64), rgb(60, 64, 64));
    list-style: none;
    padding: 5px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    align-content: flex-start;
}

.card {
    background: linear-gradient(rgb(250, 250, 250), rgb(200, 200, 200));
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0);
    font-size: $standard-font-size;
    line-height: $standard-font-size;
    width: 15em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: .5em;
    padding: 0 1em;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 16em;
}