@use '@styles/mixins.scss';

.button {
  --button-color: var(--primary-button-color);
  --button-background-color: var(--primary-button-background-color);
  --button-font-size: var(--standard-button-font-size);

  @include mixins.buttonBase;

  &__secondary {
    --button-color: var(--secondary-button-color);
    --button-background-color: var(--secondary-button-background-color);
  }
}