@import '../global.scss';

.app-home {
    border-top: 1px solid rgba(0, 0, 0, 0); // Prevent margin collapsing.
    height: 100%;
    width: 100%;

    @include utiliity-component-background;

    >ul {
        padding: 0 3em;

        >li {
            height: 3rem;
            line-height: 3rem;

            &::marker {
                color: white;
                content: "\1F3B5"; // Musical Note Emoji
                font-size: 2rem;
            }
        }
    }

    >div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }
}