@import '../global.scss';

.labeled-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;

    width: 100%;

    label {
        flex-grow: 1;
        min-width: 30%;
        height: $standard-font-size;
        line-height: $standard-font-size;
    }

    input {
        flex-grow: 2;
        width: 100%;
    }
}