@import '../global.scss';

.close-or-clear,
.close,
.clear {
    color: black;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    font-size: $standard-font-size;
    line-height: $standard-font-size;
    height: $standard-font-size * 1.5;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.close-or-clear,
.close {
    width: $standard-font-size * 1.5;
}

.picker-button,
.labeled-input,
.labeled-select,
.labeled-range,
.labeled-textarea {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 1em;

    width: 100%;

    label {
        min-width: 30%;
        height: $standard-font-size;
        line-height: $standard-font-size;
    }

    > button,
    > input {
        flex-grow: 2;
        width: 100%;
        padding: 1px 1em;
    }

    .toggle {
        width: 4em;
        position: absolute;
        top: 0;
        right: 0;
    }
}

.picker-button {
    > button {
        position: relative;
        background-color: white;
        color: black;
        border-radius: 0;
        font-size: $standard-font-size;
        text-align: left;

        &:after {
            position: absolute;
            right: 0.5em;
            content:  '\25BC';
        }

        &:has(+ div) {
            &:after {
                content: '\25B2';
                right: 1em;
            }
        }
    }

    input {
        display: none;
    }
}

.labeled-select {
    > select {
        font-size: $standard-font-size;
        padding: 1px .75em;
        cursor: pointer;
    }
}

.labeled-range {
    > .range-input {
        flex-grow: 2; // This might not make a difference, but it was needed for input and button.
        width: 100%;
        display: grid;
        grid-template-columns: auto 5ch $standard-font-size * 1.5;
        gap: 0.5em;

        > input[type="range"] {
            cursor: pointer;
        }
    }
}

.labeled-textarea {
    textarea {
        min-width: 25ch;
        max-width: 100ch;
        width: 100%;

        min-height: 30ch;
        max-height: 100ch;
        height: 100%;
    }
}